@charset "UTF-8";


.chatting-container {
    border: 1px solid gray;
    border-radius: 5px;
    box-sizing: content-box;
    padding: 10px;
}

#chatting-clients > table {
    min-height: 50vh;

}

#chatting-file-list {

}

#chatting-contents > div:first-child {
    min-height: 50vh;
    overflow: auto;
}

#chatting-contents pre {
    display: inline-block;
    padding: 5px;
    margin: 10px;
    border-radius: 5px;
    box-shadow: 1px 1px 1px gray,
    -1px -1px 1px gray,
    -1px 1px 1px gray,
    1px -1px 1px gray;
    white-space: pre-wrap;
}

.chatting-msg {
    display: inline-flex;
    flex-direction: column;
    flex-wrap: nowrap;
}

.chatting-my-msg {
    text-align: right;
    padding-left: 50px;
    padding-right: 0px;
}


.chatting-my-msg b {
    text-align: right;
}

.chatting-my-msg pre {
    text-align: left;
}

.chatting-other-msg {
    padding-left: 0px;
    padding-right: 50px;
}

#chatting-contents nav {
    text-align: center;
    font-size: 87.5%;
    font-weight: bold;
    color: gray;
    filter: invert(10%);
    background: white;
    border-radius: 5px;

}

@media (max-width: 768px) {

    #chatting-clients > table {
        min-height: auto;

    }
}

#file-package {
    overflow: auto;

}

#file-package p {
    text-align: center;
    word-break: break-all;
    overflow: hidden;
    width: 100px;
    text-overflow: ellipsis;
    white-space: nowrap;
    font-size: 0.8em;
}

#file-package > div {
    padding: 10px;
    margin: auto 10px 10px 10px;
    transition: all 0.3s;
    background: white;
    color: black;
    border-radius: 5px;
}

#file-package > div > div {
    text-align: center;

}

#file-package img {
    max-width: 100px;
    height: auto;
    max-height: 70px;

}

#file-package > div:HOVER {
    cursor: pointer;
    filter: invert(100%);
}
