@charset "UTF-8";


.chatting-container{
    border: 1px solid gray;
    border-radius: 5px;
    box-sizing: content-box;
}

#chatting-clients > table {
    min-height: 50vh;

}

#chatting-file-list{

}

#chatting-contents > div:first-child {
    min-height: 50vh;
}


@media (max-width: 768px) {

    #chatting-clients > table {
        min-height: auto;

    }
}