@charset "UTF-8";

* {
    font-family: 맑은 고딕, monospace;
    overscroll-behavior-y: none;
    scroll-behavior: smooth;
}
html, body{
    margin: 0;
    padding: 0;
}
*::-webkit-scrollbar {
    width: 5px;
    background: transparent;
}

*::-webkit-scrollbar-thumb {
    background: rgba(150, 0, 0, 0.5);
}

*::-webkit-scrollbar-thumb:HOVER {
    background: rgba(150, 0, 0, 1);
}