@charset "UTF-8";

#main-header {
    display: flex;
    flex-direction: column;
    width: 200px;
    height: 100vh;
    position: fixed;
    border-right: 5px ridge;
    transition: 0.3s all;
}

#main-header * {
    transition: 0.3s all;

}

#main-header i {
    font-size: 2em;
}

#main-header i:HOVER {
    filter: invert(100%);
}

#header-logo {
    cursor: pointer;
    transition: 1s all;
    height: 80px;
    text-decoration: none;
}

#header-logo > span:first-child {
    position: relative;
    left: 70px;
    top: -20px;
    font-family: cursive;
    font-size: 80px;
    font-weight: bold;
    color: rgba(0, 0, 0, 0);
    background: url("/resources/img/icon/Xasquatch.png");
    background-position: center;
    background-size: cover;
    background-clip: text;
    -webkit-background-clip: text;
    z-index: 1;
}

#header-logo:HOVER > span:first-child {
    animation: visible-opacity 1s;
    background-clip: inherit;
    -webkit-background-clip: inherit;
}

@keyframes visible-opacity {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}

#header-logo > span:last-child {
    color: darkred;
    font-size: 30px;
    font-weight: bold;
    position: absolute;
    left: 23px;
    top: 18px;
    z-index: 2;
}

#header-dashboard {
    margin: 3px;
    padding: 10px;
    background: darkred;
    color: white;
    border-radius: 10px;
    text-align: center;
}

#header-dashboard a {
    text-decoration: none;
    color: inherit;
    margin: 0 2px;
}

#header-list {
    margin: 5px;
    height: 60vh;
}

#header-list > * {
    padding: 5px;
}

.input-character {
    background-color: rgba(37, 92, 194, 1);
    filter: invert(100%);
}

.list-group-item.active {
    z-index: 2;
    color: white !important;
    background-color: darkred !important;
    border-color: darkred !important;
}

.wrap {
    box-sizing: border-box;
    margin-left: 200px;
    padding: 10px;
    transition: 0.3s all;
}


footer {
    background: rgba(0, 0, 0, 1);
    color: rgba(255, 255, 255, 1);
    text-align: center;
    padding: 5px;
    position: fixed;
    width: 100%;
    bottom: 0;
    font-weight: bold;
}


@media (max-width: 1200px) {
    #main-header {
        width: 80px;
    }

    .wrap {
        margin-left: 80px;
    }

    #header-logo > span:first-child {
        left: 10px;
    }

    #header-list a {
        text-align: center;
    }
}