@charset "UTF-8";

#main-header {
    display: flex;
    flex-direction: column;
    width: 200px;
    height: 100vh;
    position: fixed;
    border-right: 5px ridge;
    background: white;
    z-index: 10;
}

#main-header i {
    font-size: 2em;
}

/*
#main-header i:HOVER {
    filter: invert(100%);
}
*/

#main-header-logo {
    cursor: pointer;
    transition: 1s all;
    height: 80px;
    text-decoration: none;
}

#main-header-logo > span:first-child {
    position: relative;
    padding: 5px;
    left: 65px;
    top: -20px;
    font-family: cursive, 'Goudy Bookletter 1911';
    font-size: 80px;
    font-weight: bold;
    color: rgba(0, 0, 0, 0);
    background: url("/resources/img/icon/Xasquatch.png");
    background-position: center;
    background-size: cover;
    background-clip: text;
    -webkit-background-clip: text;
    z-index: 1;
}

#main-header-logo:HOVER > span:first-child {
    animation: visible-opacity 1s;
    background-clip: inherit;
    -webkit-background-clip: inherit;
}

@keyframes visible-opacity {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}

#main-header-logo > span:last-child {
    color: darkred;
    font-size: 30px;
    font-weight: bold;
    position: absolute;
    left: 23px;
    top: 18px;
    z-index: 2;
}

#main-header-dashboard {
    margin: 3px;
    padding: 5px;
    background: darkred;
    color: white;
    border-radius: 10px;
    text-align: center;
}

#main-header-dashboard * {
    background: darkred !important;
}

#main-header-dashboard a {
    text-decoration: none;
    color: inherit;
    margin: 10px;
    padding: 0;
    border: 0;
}

#main-header-expansion-btn {
    padding: 0 10px;
    animation: tapTap 1s infinite;
}

@keyframes tapTap {
    0% {
        padding: 0 10px 0 0;
    }
    100% {
        padding: 0 0 0 10px;
    }

}

#main-header-list {
    margin: 5px;
    height: 60vh;
}

#main-header-list > * {
    padding: 5px;
}

#main-nav {
    position: fixed;
    width: 100%;
    height: 2em;
    background: black;
    color: white;
    margin-left: 200px;
    padding: 5px 5px 5px 10px;
    transition: height 0.3s, opacity 0.3s;
}

.deactivate-nav {
    height: 0 !important;
    opacity: 0 !important;
}

.deactivate-nav * {
    display: none;
}

#main-nav-count {
    color: darkred;
    font-weight: bold;

}


.input-character {
    background-color: rgba(37, 92, 194, 1);
    filter: invert(100%);
}

.list-group-item.active {
    z-index: 2;
    color: white !important;
    background-color: darkred !important;
    border-color: darkred !important;
}

.hidden {
    display: none !important;
}

.wrap {
    max-width: 1000px;
    box-sizing: border-box;
    margin-left: 200px;
    padding: 2em 10px;
    transition: 0.3s all;
}


footer {
    background: rgba(0, 0, 0, 1);
    color: rgba(255, 255, 255, 1);
    text-align: center;
    padding: 5px;
    position: fixed;
    width: 100%;
    bottom: 0;
    font-weight: bold;
    font-size: 0.7em;
    z-index: 11;
}

#myModal img {
    max-width: 100%;
}

@media (max-width: 1200px) {
    .reduced-main-header {
        width: 80px !important;
    }

    .reduced-main-nav {
        margin-left: 80px !important;
    }

    .reduced-wrap {
        margin-left: 80px !important;
    }

    .reduced-header-logo > span:first-child {
        left: 5px !important;
    }

    .reduced-header-list a {
        text-align: center;
    }
}