<?xml version="1.0" encoding="UTF-8"?>


<configuration>
    <!-- 콘솔로 로그를 남김 -->
    <appender name="consoleAppender" class="ch.qos.logback.core.ConsoleAppender">
        <encoder>
            <charset>UTF-8</charset>
            <!-- 로그 메시지 패턴 -->
            <Pattern>
                %d{HH:mm:ss.SSS} [%thread] %-5level %logger{5} - %msg%n
            </Pattern>
        </encoder>
    </appender>

    <!-- 파일로 로그를 남김 -->
    <appender name="fileAppender" class="ch.qos.logback.core.rolling.RollingFileAppender">
        <file>D:\logback\log.log</file>
        <encoder class="ch.qos.logback.classic.encoder.PatternLayoutEncoder">
            <Pattern>
                %d{HH:mm:ss.SSS} [%thread] %-5level %logger{5} - %msg%n
            </Pattern>
        </encoder>

        <!-- 로그를 남기는 파일의 용량이 50KB가 넘으면 이를 압축 파일로 만들고 새로 로그 파일로 만들라는 정책 -->
        <triggeringPolicy
                class="ch.qos.logback.core.rolling.SizeBasedTriggeringPolicy">
            <MaxFileSize>10KB</MaxFileSize>
        </triggeringPolicy>

        <!-- 파일을 덮어쓰는 정책 -->
        <rollingPolicy class="ch.qos.logback.core.rolling.FixedWindowRollingPolicy">
            <FileNamePattern>D:\logback\log-%i.zip</FileNamePattern>
            <!--
                MinIndex가 1이고, MaxIndex가 10이므로, 위의 파일 이름 패턴에 따라 아래의 로그 파일이 생길 것이다.
                logexample2.1.log.zip   logexample2.2.log.zip  .... logexample2.10.log.zip
                이 상태에서 또 10KB가 넘으면 logexample2.1.log.zip이 된다.
            -->
            <MinIndex>1</MinIndex>
            <MaxIndex>10</MaxIndex>
        </rollingPolicy>
    </appender>

    <!-- root는 최상위 패키지 -->
    <!-- additivity="false 설정시 me.logback.level 이하 패키지에는 logger 이벤트가 전달되지 않음 -->
    <logger name="net.xasquatch.document" level="debug" additivity="true"/>
    <logger name="org.springframework" level="warn" additivity="false">
        <appender-ref ref="consoleAppender"/>
    </logger>

    <root level="WARN">
        <!-- ref="appender name 지정" -->
        <appender-ref ref="consoleAppender"/>
        <appender-ref ref="ROLLING-FILE"/>
    </root>
</configuration>